footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  font-size: 13px;
  text-align: center;

  a {
    position: relative;
    color: $main-color-3;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  a:after {
    opacity: 0.1;
    content: " ";
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    margin: 5px auto 0;
    background-color: $main-color-3;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
