footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  font-size: 13px;
  text-align: center;

  ul {
    li {
      display: inline-block;

      a {
        color: $main-color-3;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
      }

      a:after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        margin: 5px auto 0;
        background: $main-color-1;
        transition: width 0.3s ease-in-out;
      }

      a:hover {
        color: $main-color-1;
        transition: none;

        &:after {
          width: 100%;
        }
      }
    }

    li:after {
      content: " · ";
    }

    li:last-child:after {
      content: "";
    }
  }
}
