@import "../../assets/styles/scss/base";

footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  font-size: 13px;
  text-align: center;

  ul {
    li {
      display: inline-block;

      a {
        color: $main-color-3;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
      }

      a:hover {
        color: $main-color-1;
        transition: none;
      }
    }

    li:after {
      content: " · "
    }

    li:last-child:after {
      content: "";
    }
  }
}
