html, body {
  height: 100%;
  font: .9rem/1.5 $font-family;
  background: linear-gradient(89.81deg, $secondary 41.01%, color-level($purple, 9) 99.64%) center 3px;
  color: $primary;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 .5rem;
  text-align: center;

  .wrap-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .wrap-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }

  p {
    span {
      font-size: 1.3rem;
      vertical-align: middle;
      color: $yellow;
    }
  }

  a {
    padding: .4rem .8rem;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: lowercase;
    color: color-level($primary, 3);
    transition: all .2s ease-out;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      margin: 5px auto 0;
      background: $primary;
      transition: width .2s ease-in-out;
    }

    &:hover {
      color: $primary;

      &:after {
        width: 100%;
      }
    }
  }
}
