@import './common/vars';
@import './common/reset';

@import './components/titles';
@import './components/footer';
@import './components/avatar';
@import './components/animate';


html, body {
  height: 100%;
  font-family: $font-family;
  text-align: center;
  background: $main-color-2;
  color: $main-color-1;
}

.container {
  height:100%;
}
