@import "../../scss/base";

ul {
  position: relative;
  font-size: 13px;
  text-align: left;
  padding: 10px 0;
  color: $main-color-1;

  li {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    opacity: 0;
    padding-top: 10px;
    width: 100%;
    height: 13px;

    .fa {

      &.fa-heart-o, &.fa.fa-star-o {
        transition: color 250ms ease-in;
      }

      &.fa-flipping-constant {
        animation: flipping 1s infinite linear;
      }

      &.fa-rocket {
        transform: rotate(45deg);
        top: -2px;
        position: relative;

        &:nth-child(1) {
          color: $main-color-4;
        }

        &:nth-child(2) {
          color: $main-color-3;
        }
      }
    }

    .red {
      color: crimson;
    }

    .yellow {
      color: yellow;
    }
  }
}

@media (max-width: 767px) {
  ul {
    text-align: center;
    padding: 0;

    li {
      padding-top: 20px;
      font-size: 15px;

      span {
        display: block;
        margin-top: 5px;
      }
    }
  }
}

@keyframes flipping {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}
