<ul class="skills">

  <li>web developer</li>
  <li>I like sunny <i class="fa fa-sun-o yellow fa-spin"></i> days</li>
  <li>fullstack developer</li>
  <li>
    <i class="fa fa-heart-o red"></i>
    <i class="fa fa-star yellow fa-flipping-constant"></i>
    <i class="fa fa-heart-o red"></i>
    <i class="fa fa-heart-o red"></i>
    <i class="fa fa-heart-o red"></i>
  </li>
  <li>web responsive &middot; web applications</li>
  <li>wasted time watching this <span class="yellow">{{timer}} seconds</span></li>
  <li>jQuery &middot; AngularJS &middot; JavaScript</li>
  <li>PHP &middot; MySql &middot; Zend Framework</li>
  <li>Bootstrap &middot; CSS/SCSS/LESS &middot; HTML</li>
  <li>Apache &middot; LAMP &middot; Amazon EC2</li>
  <li>PrestaShop &middot; Magento &middot; e-commerce modules</li>
  <li>SEO &middot; Google Analytics</li>
  <li>NativeScript + Angular</li>
  <li>git &middot; subversion</li>
  <li>
    <i class="fa fa-rocket"></i>
    <i class="fa fa-rocket"></i>
    <i class="fa fa-rocket"></i>
  </li>

</ul>
