<ul class="skills">

  <li>
    <i class="fa fa-rocket"></i>
    <i class="fa fa-rocket"></i>
    <i class="fa fa-rocket"></i>
  </li>
  <li>web developer</li>
  <li>fullstack developer</li>
  <li>jQuery &middot; AngularJS &middot; JavaScript</li>
  <li>PHP &middot; MySql &middot; Zend Framework</li>
  <li>
    <i class="fa fa-heart-o red"></i>
    <i class="fa fa-star yellow"></i>
    <i class="fa fa-heart-o red"></i>
    <i class="fa fa-heart-o red"></i>
    <i class="fa fa-heart-o red"></i>
  </li>
  <li>Bootstrap &middot; CSS/SCSS/LESS &middot; HTML</li>
  <li>web responsive</li>
  <li>web applications</li>
  <li>wasted time watching this <span class="yellow">{{timer}} seconds</span></li>
  <li>Apache &middot; LAMP &middot; Amazon EC2</li>
  <li>PrestaShop &middot; Magento &middot; e-commerce</li>
  <li>git &middot; subversion</li>
  <li>I like sunny <i class="fa fa-sun-o yellow"></i> days</li>
  <li>SEO &middot; Google Analytics</li>
  <li>NativeScript + Angular</li>
  <li></li>
  <li>let's start again</li>
  <li></li>

</ul>
