@import "scss/base";

html, body {
  height: 100%;
  font-family: $font-family;
  text-align: center;
  background: $main-color-2;
  color: $main-color-1;
}

//
//
//#content {
//  height: 150px;
//}
//
//hr.border {
//  margin-top: 50px;
//  margin-bottom: 50px;
//  border-bottom: 1px solid #01DF74;
//}
//
//h1 {
//  font-size: 20px;
//  text-transform: uppercase;
//}
//
//h2 {
//  margin-top: 10px;
//  font-size: 30px;
//}
//
//p {
//  font-size: 15px;
//  margin-top: 50px;
//}
//
//input {
//  font-family: "Courier New", Courier, monospace;
//  width: i;
//  margin: 5px 0 25px;
//  padding: 10px 0;
//  border: 1px solid #01DF74;
//  border-radius: 2px;
//  background: #302C33;
//  text-align: center;
//  font-size: 35px;
//  color: #01DF74;
//}
